<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">

    <title>CodyMaze Mirabilandia | Posizione di griglia</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex" />

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/skeleton-2.0.4/normalize.css" />
    <link rel="stylesheet" href="/skeleton-2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="twelve columns centered">
                    <img src="/codymaze-mira-logo.jpg" alt="CodyMaze Mirabilandia" class="u-full-width logo" />
                </div>
            </div>

            <div class="row">
                <div class="twelve columns">
                    <h1 class="centered">CodyMaze<br />Mirabilandia</h1>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <p class="centered">
                        <a class="button button-primary" href="codymaze://mirabilandia/position/{{ code }}" title="Continua a giocare con l'app CodyMaze">
                            Continua a giocare
                        </a>
                    </p>
        
                    <p>
                        Usa il pulsante qui sopra per scegliere la posizione della griglia che hai appena scansionato e proseguire con il gioco.
                    </p>
        
                </div>
            </div>

            <div class="row">
                <div class="twelve columns">
                    <h3>Installa l’applicazione</h3>
                    <p>
                        Se non hai ancora installato l’applicazione <b>CodyMaze Mirabilandia</b>, clicca sulle icone qui sotto per scaricarla gratuitamente dagli store.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="six columns badge">
                    <a href="https://play.google.com/store/apps/details?id=social.wom.pocket" title="Installa CodyMaze Mirabilandia da Google Play">
                        <img src="/badge_google_play.png" alt="Installa da Google Play" class="u-full-width" />
                    </a>
                </div>
                <div class="six columns badge">
                    <a href="" title="Installa CodyMaze Mirabilandia da App Store">
                        <img src="/badge_app_store.png" alt="Installa da App Store" class="u-full-width" />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <p>CodyMaze per Mirabilandia&nbsp;&mdash;&nbsp;2019</p>
                    <p><a href="/privacy">Privacy policy</a> &mdash; <a href="/">Più informazioni</a></p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
