html {
    font-weight: 400;
}
html i {
    font-weight: 400;
    font-style: italic;
}
html b {
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-top: 2em;
}

section {
    flex-grow: 1;
}

.centered {
    text-align: center;
}

img.logo {
    width: 50vw;
    max-width: 300px;
}

.language-switcher {
    background: hsl(224, 25%, 95%);
    box-shadow: 4px 4px 6px hsla(224, 60%, 20%, 0.4);
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    display: inline-block;
}
.language-switcher a, .language-switcher:visited {
    text-decoration: underline;
    color: black;
}
.language-switcher a:hover {
    text-decoration: underline;
    color: black;
}
.language-switcher a.current {
    text-decoration: none;
    font-weight: 600;
}

p.lead {
    font-size: 1.2em;
}

footer {
    padding-bottom: 2em;
    padding-top: 2em;
    margin-top: 1em;
    background-color: hsla(222, 100%, 97%, 1);
}

.badge {
    text-align: center;
    vertical-align: middle;
    font-style: italic;
}
.badge a {
    border: 0;
    text-decoration: none;
}
.badge img {
    max-width: 50%;
    height: auto;
}
